@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');



body {
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #aaa8a8;
}




html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif ;
}

a{
    text-decoration: none;

}

.judul{
    left: 100px;
    font-family: 'Nunito', sans-serif;
}

.container{
    
    width:  100%;
    display: flex;
    align-items: center;
    
    
}



.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    
}

.section-title span{
    color: crimson;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: rgb(183, 180, 180);
}

.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span{
    color: crimson;
}



#home::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
    

}



#home .home{
    position: absolute;
    text-align: center;
    margin-top: 200px;
    max-width: 1200px;
    /* margin-bottom: auto; */
    padding: 0 30px;
    justify-content: flex-start;
      
}
   


/* #home.home{
    max-width: 1200px;
    margin-bottom: auto;
    padding: 0 50px;
    justify-content: flex-start;

} */

#home h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;     
}




#home h1:nth-child(1){
    animation-delay: 1s;
    
}
#home h1:nth-child(2){
    animation-delay: 2s;
}
#home h1:nth-child(3){
    animation-delay: 3s;
}


#home h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
    
    
}
#home h1:nth-child(1) span{
    animation-delay: .5s;   
}
#home h1:nth-child(2) span{
    animation-delay: 1.5s;   
}
#home h1:nth-child(3) span{
    animation-delay: 2.5s;   
}

#home .cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
    
    position: absolute;
}
#home .cta:hover{
    color: white;
    background-color: crimson;

}

#particles-js{
    background-color: rgb(26, 25, 25);
    height: 100vh;
    background-position: center;
}

/* About section */
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 60px auto;
    padding: 100px 20px;

}

#about .col-left{
    width: 250px;
    height: 360px;
}

#about .col-right{
    width: 100%;
}

#about .col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    
}

#about .col-right p{
    margin-bottom: 20px;
}

#about .col-left .about-img{
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;

}
#about .col-left .about-img::after{
    content: '';
    position: absolute;
    left:  -33px;
    top: 25px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
   z-index: -1;

}

#navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
}

.dln{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.inner{
    padding-top: 20px;
}

.head{
    text-align: center;
    color: black;
    padding: 1rem;
    position: relative;

}

.conta{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #1c1d1e;
    cursor: pointer;
}



.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}



.skill-title h3{
    color: black;
    margin: 0.5rem;

}

.skill-icon{
    width: 50px;
}

.service{
    margin-left: 10px;
    margin-right: 10px;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: #444444;
    margin: 0 4px 8px 4px;
    transition: 0.3s;
    border-radius: 50px;
    border: 1px solid #fff;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    color: #4154f1;
    border-color: #4154f1;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(255, 255, 255, 0.75);
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 1s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid rgba(1, 41, 112, 0.2);
    border-left: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid rgba(1, 41, 112, 0.2);
    border-right: 3px solid rgba(1, 41, 112, 0.2);
    transition: all 0.5s ease 0s;
    z-index: 9994;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #012970;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    background: #4154f1;
    margin: 10px 2px;
    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a i {
    font-size: 24px;
    line-height: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    background: #5969f3;
  }
  
  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
  }
  
  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }
  
  /*--------------------------------------------------------------
  # Portfolio Details
  --------------------------------------------------------------*/
  .portfolio-details {
    padding-top: 40px;
  }
  
  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }
  



#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items{
    width: 400px;
    
    
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s box-shadow;
}



#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}




#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;   
}

#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
    
}



@media screen and (max-width: 990px){
   .conta{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
        
    }
}

@media screen and (max-width: 650px){
    .conta{
         grid-template-columns:1fr;
         
     }
 }

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color: white;
    }
}
@keyframes text_reveal_name {
    100%{
        color: crimson;
        font-weight: 500;
    }
}

@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1 .section-title{
        font-size: 6rem;
    }
    #home h1{
        font-size: 8rem;
       
        
        
    }
    #about .about{
        flex-direction: row;
    }
    #about .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .aabout .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
    }
    #contact .contact{
        
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
        flex-direction:row;
          
    }
    



    
    #contact .contact-items{
        
        display: flex;
        flex-direction:row;
        padding: 20px;
        margin: 0;
        
    }

    

}